body {
	margin: 0;
}

.tictactoe {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2em;
	height: 100vh;
}

.container {
	display: grid;
	border: 2px solid black;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	height: 150px;
	width: 150px;
}

.square {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}
